TKS_RELEASE=main

BOOTSTRAP_CLUSTER_SERVER_IP="192.168.0.1"
DOWNLOAD_IMAGES=false
INSTALL_NGINX_INGRESS=false

# "aws" or "byoh"
TKS_ADMIN_CLUSTER_INFRA_PROVIDER="byoh"

# Select the infrastructure provider to use (supports multiple selections)
declare -a CAPI_INFRA_PROVIDERS=("byoh" "aws")

# when 'aws' is an infrastructure provider
# AWS_ACCESS_KEY_ID and AWS_USER are obtained through "aws sts get-caller-identity" command
AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=XXX_MUST_BE_FILLED
AWS_SECRET_ACCESS_KEY=XXX_MUST_BE_FILLED
AWS_ACCOUNT_ID=XXX_MUST_BE_FILLED
AWS_USER=XXX_MUST_BE_FILLED

GIT_SVC_USERNAME=XXX_MUST_BE_FILLED
#GIT_SVC_TOKEN=XXX_MUST_BE_FILLED_ONLY_IF_USING_GITHUB
GIT_SVC_TYPE=gitea # or github
GIT_SVC_URL=http://gitea-http.gitea.svc:3000

# DB
DATABASE_HOST=""
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=secretPassword

# Gitea
GITEA_ADMIN_USER=tks-admin
GITEA_ADMIN_PASSWORD=secretPassword

