TKS_RELEASE=v2.0.0-rc1

CAPI_INFRA_PROVIDER="aws" # aws or openstack
# when 'aws' is an infrastructure provider
AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=XXX_MUST_BE_FILLED
AWS_SECRET_ACCESS_KEY=XXX_MUST_BE_FILLED

GITHUB_USERNAME=XXX_MUST_BE_FILLED
GITHUB_TOKEN=XXX_MUST_BE_FILLED
