apiVersion: operator.cluster.x-k8s.io/v1alpha2
kind: InfrastructureProvider
metadata:
  name: aws
  namespace: capa-system
spec:
  configSecret:
    name: tks-capi-variables
    namespace: default
  version: $CAPA_VERSION
  deployment:
    containers:
    - name: manager
      imageUrl: "$CAPA_INFRA_MANAGER_IMAGE"
  fetchConfig:
    selector:
      matchLabels:
        provider-components: capa-infrastructure
