apiVersion: operator.cluster.x-k8s.io/v1alpha2
kind: InfrastructureProvider
metadata:
  name: byoh
  namespace: byoh-system
spec:
  configSecret:
    name: tks-capi-variables
    namespace: default
  version: $BYOH_VERSION
  deployment:
    containers:
    - name: manager
      imageUrl: "$BYOH_INFRA_MANAGER_IMAGE"
    - name: kube-rbac-proxy
      imageUrl: "$BYOH_INFRA_KUBE_RBAC_PROXY_IMAGE"
  fetchConfig:
    selector:
      matchLabels:
        provider-components: byoh-infrastructure
