apiVersion: operator.cluster.x-k8s.io/v1alpha2
kind: ControlPlaneProvider
metadata:
  name: kubeadm
  namespace: capi-kubeadm-control-plane-system
spec:
  configSecret:
    name: tks-capi-variables
    namespace: default
  version: $CAPI_VERSION
  deployment:
    containers:
    - name: manager
      imageUrl: "$KUBEADM_CONTROLPLANE_MANAGER_IMAGE"
  fetchConfig:
    selector:
      matchLabels:
        provider-components: kubeadm-controlplane
